{% extends "base.html" %}

{% block title %}  {{ article.title }}
| {{ SITENAME }}{% endblock %}

{% block canonical_url %}{{ article.url }}{% endblock %}

{% block meta %}
  <meta name="description" content="{{ article.summary|striptags }}">

	<!-- Open Graph data -->
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
	<meta property="og:image" content="{{ SITEURL }}{{ article.image }}" />
	<meta property="og:description" content="{{ article.summary|striptags }}" />
{% endblock %}

{% block content %}
  <article class="article">
    <header>
      <h1 class="page-title">{{ article.title }}</h1>
      <p class="article-meta">
        <a class="badge" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        {% if article.tags %}{% for tag in article.tags %}<a class="tag" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% endfor %}{% endif %}
      </p>
    </header>
    <div class="prose">
      {{ article.content }}
    </div>
  </article>
{% endblock %}
